*{
	padding: 0;
	margin:0;
	font-family: "微软雅黑";
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.clearfix::before,.clearfix::after{
	display: block;
	content: "";
	line-height: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}
.content{
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin:0 auto;
    border: none;
	overflow: hidden;
}
.content .hwj_head{
	width: 100%;
	max-width: 640px;
}
.hwj_head .hwj_headBox1{
	height:50px;
	width: 100%;
	background-color: #0067b8;
}
.hwj_head .hwj_headBox1 a{
 	display: block;
 	width: 100%;
 	height: 36px;
 	padding: 8px 0;
 	text-align: center;
 	color: #fff;
 	font-size:6px;
 }
.hwj_head .hwj_headBox1 a div{
 	text-decoration: underline;
 }
.hwj_head .hwj_headBox2{
 	width: 100%;
 	background-color: #eee;
 	position: relative;
 }
.hwj_head .hwj_headBox2 .hwj_headIcon{
  	z-index: 99;
  	width: 100%;
  	overflow: hidden;
  }
.hwj_head .hwj_headBox2 .hwj_headPartLeft{
	width: 100px;
	margin-left: 15px;
	padding: 10px 0;
	position: relative;
	float: left;
	cursor: pointer;
  }
.hwj_head .hwj_headBox2 .hwj_headPartRight{
 	float: right;
 }
.hwj_head .hwj_headBox2 .hwj_headPartRight i:nth-of-type(3){
	border:1px solid #EEEEEE;
}
.hwj_head .hwj_headBox2 .hwj_headPartRight i{
 	padding:12px 8px;
 	margin:0 10px;
 	font-size: 20px;
 	cursor: pointer;
 }
.hwj_head .hwj_headBox2 .hwj_headPartRight i:first-child{
	transform: rotateY(180deg);
}
.hwj_head .hwj_headBox2 .hwj_headSearch{
	position: relative;
	padding: 5px 10px ;
	display: none;
}
.hwj_head .hwj_headBox2 .hwj_headSearch input{
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	padding-left: 15px;
}
.hwj_head .hwj_headBox2 .hwj_headSearch i{
	position: absolute;
	bottom: 11px;
	right: 20px;
	font-size: 20px;
	transform: rotateY(180deg);
	cursor: pointer;
}
.hwj_head .hwj_headBox2 .hwj_headLoad{
	position: absolute;
	top: 45px;
	right: 10px;
	width: 230px;
	height: 405px;
	z-index: 9999;
	border:1px solid #ccc;
	background-color: #fff;
	display: none;
}
.hwj_headBox2 .hwj_headLoad .hwj_headLoadCenter{
	font-weight: lighter;
	box-sizing: border-box;
	width: 100%;
	padding:30px 30px;
}
.hwj_headLoadCenter h2{
	color:#00adef;
}
.hwj_headLoadCenter h5{
	margin:30px 0;
	color:#666;
}
.hwj_headLoadCenter h4{
	color:#666;
}
.hwj_headLoadCenter .hwj_headLoadButton{
	width: 100%;
	height: 40px;
	background-color: yellowgreen;
	text-align: center;
	line-height: 40px;
	margin:20px 0;
}
.hwj_headLoadCenter .hwj_headLoadButton a{
	color:#333;
}

.hwj_head .hwj_headBox3{
	position: relative;
	border-bottom: 1px solid #ccc;
	width:100%;
}
.hwj_head .hwj_headBox3 .hwj_headNav1{
	width: 100%;
}
.hwj_head .hwj_headBox3 a:first-child{
	color: #0067b8;
	margin-left: 20px;
	display: inline-block;
	padding-top: 10px;
}
.hwj_head .hwj_headBox3 a:last-child{
	display: inline-block;
	padding:8px 13px;
	float: right;
	font-size: 22px;
	color: #0067b8;
	border-left:1px solid white;
	border-top: 1px solid white;
}
.hwj_head .hwj_headBox3 .hwj_headNav{
	position: absolute;
	width:100%;
	z-index:555;
	background-color: white;
	top:47px;
}
.hwj_headBox3 .hwj_headNav ul{
	box-sizing: border-box;
	list-style: none;
	width: 100%;
}
.hwj_headBox3 .hwj_headNav ul li{
	width: 100%;
	height: 50px;
	margin-left: 25px;
	color: #0067b8;
	font-size: 14px;
}
.hwj_headBox3 .hwj_headNav ul li:first-child{
	margin-top: 16px;
}
.hwj_headBox3 .hwj_headNav ul .hwj_headActive::before{
	position: absolute;
	content:"新品";
	width: 35px;
	height: 22px;
	left:70px;
	margin-top: -16px;
	text-align: center;
	color:#fff;
	background-color: red;
	z-index: 9;
}
.hwj_headBox3 .hwj_headNav ul .hwj_headActive::after{
	position: absolute;
	content:"";
	outline: none;
	left:52px;
	margin-top: -17px;
	background-color: #f40;
	border-right: 40px solid red;
	border-bottom: 12px solid #fff;
	border-top: 4px solid #fff;
	transform-origin: right;
	transform: rotateZ(-35deg);
}
.hwj_headBox3 .hwj_headNav ul li:last-child{
	margin-left: 15px;
	color: #666;
	font-size: 12px;
}


/*手机或者微信登录*/
.content .hwj_centerChoose{
	width:100%;
	position: relative;
}
.hwj_centerChoose .hwj_centerCenter{
	margin:15px 10px 25px;
	color:#777;
	overflow: hidden;
	padding:18px 0;
}

.hwj_centerChoose .hwj_centerCenter .hwj_centerChild1{
	width:100%;
	/*display: none;*/
}
.hwj_centerChoose .hwj_centerCenter h2{
	color:#555;
	text-align: center;
	margin-bottom: 15px;
}
.hwj_centerChoose .hwj_centerCenter .hwj_centerCount{
	font-size: 25px;
	color: #fff;
	width:100%;
	height:45px;
	line-height:40px;
	text-align: center;
	background-color: #2571EC;
	margin:10px 0;
}
.hwj_centerChoose .hwj_centerCenter span{
	font-size: 14px;
}
.hwj_centerChoose .hwj_centerCenter .hwj_centerSpan{
	display: block;
}
.hwj_centerChoose .hwj_centerCenter .hwj_centerBorder{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.hwj_centerCenter .hwj_centerSpan a{
	color:#0ae;
}
.hwj_centerCenter .hwj_centerClude{
	width:100%;
	height:65px;
	padding:10px 0;
}
.hwj_centerChoose .hwj_centerCenter span{
	cursor: pointer;
	position: relative;
}
.hwj_centerChoose .hwj_centerCenter .hwj_centerPhone{
	float: left;
}
.hwj_centerChoose .hwj_centerCenter .hwj_centerPhone a {
	/*content: '';*/
	position: absolute;
	width:35px;
	height:35px;
	background: url("../images/phone.JPG");
	background-size:100% 100%;
	top:0;
	left:100px;
	border-radius: 7px;
}
.hwj_centerChoose .hwj_centerCenter .hwj_centerOther{
	float: right;
	right:60px;
}
.hwj_centerChoose .hwj_centerCenter .hwj_centerOther a{
	position: absolute;
	width:35px;
	height:35px;
	background: url("../images/weixin.png");
	background-size:100% 100%;
	top:0;
	left:115px;
	border-radius: 7px;
}

.hwj_centerChoose .hwj_centerCenter .hwj_centerChild2{
	width:100%;
	position: relative;
	display: none;
}
.hwj_centerChild2 .hwj_centerCh2_1{
	float: right;
	font-size: 13px;
	right:0;
}
.hwj_centerChild2 .hwj_centerCh2_1 a{
	color:#0ae;
}
.hwj_centerChild2 .hwj_centerCh2_2{
	font-family:"宋体";
	color:#222;
	padding:25px 0;
	font-size: 22px;
	text-align: center;
}
.hwj_centerCenter  form input{
	padding:8px;
	margin:5px 0;
	border:1px solid #555;
}
.hwj_centerCenter  form input:nth-child(-n+2){
	width:100%;
}
.hwj_centerCenter  form #actPwdOther{
	width:53%;
}
.hwj_centerCenter  form .actPwd{
	width:53%;
}
.hwj_centerCenter  form .buttonOther{
	float: right;;
	width:45%;
	background: #fff;
	color:#bbb;
	border:1px solid #bbb;
}
.hwj_centerCenter  form .button{
	float: right;;
	width:45%;
	background: #fff;
	color:#bbb;
	border:1px solid #bbb;
}
.hwj_centerCenter form input:last-of-type{
	color:#fff;
	background-color: #0178D6;
	width:100%;
	font-size: 14px;
	border:none;
}

.hwj_centerChoose .hwj_centerCenter .hwj_centerChild3{
	width:100%;
	position: relative;
	display: none;
}
.hwj_centerChild3 .hwj_centerCh3_first{
	margin-bottom: 20px;
	font-size: 20px;
	color:#0178D6;
	text-align: center;
}
.hwj_centerChild3 input{
	width:100%;
}


.content .hwj_fixCustom{
	position: fixed;
	width:280px;
	height:283px;
	background-color: #fff;
	top:180px;
	right:0;
	z-index: 999;
	border:1px solid #ccc;
	display: none;
}
.hwj_fixCustom .hwj_fixPart1{
	position: relative;
	width:100%;
	height:65px;
	background-color: #363636;
	line-height: 65px;
	color:#eee;
}
.hwj_fixPart1 div,.hwj_fixPart1 i{
	position: absolute;
}
.hwj_fixPart1 .hwj_fixImg{
	width:38px;
	height:38px;
	border:1px solid #fff;
	border-radius: 50%;
	background-image: url("../images/custom_1.png");
	background-size: cover;
	top:10px;
	left:30%;
}
.hwj_fixWord{
	left:47%;
}
.hwj_fixPart1 i{
	top:10px;
	right:10px;
	font-size: 25px;
}
.hwj_fixCustom .hwj_fixPart2{
	position: relative;
	margin:0 10px;
	height:217px;
	color:#666;
}
.hwj_fixCustom .hwj_fixPart2 .hwj_fixChat{
	width:100%;
	height:95px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.hwj_fixChat .hwj_fixOnline{
	margin:15px 0;
}
.hwj_fixPart2 .hwj_fixContact{
	margin-top: 10px;
	width:100%;
}
.hwj_fixContact .hwj_fix_con1{
	display: inline-block;
	width:35px;
	height:25px;
	background-image: url("../images/telephone.png");
	background-size: 100% 100%;
	margin-bottom: 5px;
}
.hwj_fixContact .hwj_fix_con2{
	vertical-align: middle;
	display: inline-block;
	margin-top: -25px;
}
.hwj_fixContact p{
	font-size: 14px;
}
.hwj_fixContact p a{
	color:#0ae;
}


.content  .hwj_bottomFix{
	width:275px;
	height:400px;
	position: fixed;
	background-color: #fff;
	right:30px;
	bottom:0;
	z-index: 999;
	box-shadow: 1px 3px 3px 3px  #ccc;
	display: none;
}
.hwj_bottomFix .hwj_bottomCenter{
	margin:10px ;
}
.hwj_bottomFix .hwj_bottomPart1{
	/*margin-top: 10px;*/
}
.hwj_bottomFix .hwj_bottomPart1 span:nth-child(n+2){
	color: #ccc;
	float: right;
	margin:0 5px;
	font-size: 20px;
}
.hwj_bottomFix .hwj_bottomPart2{
	padding:18px 0 ;
	font-size: 14px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.hwj_bottomPart3 .hwj_bottomInput{
	margin:10px 0;
	width:100%;
	height:30px;
	line-height:30px;
	padding-left:10px;
	font-size: 14px;
	border:1px solid #AAA;
	position: relative;
}
.hwj_bottomPart3 .hwj_bottomChoose{
	position: absolute;
	width:100%;
	height:85px;
	padding-left: 10px;
	margin-top: -10px;
	background-color: #fff;
	border:1px solid yellow;
	display: none;
}
.hwj_bottomPart3 button{
	width:110px;
	height:36px;
	border:1px solid #444;
	margin:5px;
}








